body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    color: rgb(102, 102, 102);
    font-size: 12px;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    background-color: #f1f0f0;
}

/* Navigation Bar */

.nav-bar {
    
    margin: 0;
    padding: 12px 0;
}

.nav-button {
    margin: 3px 0 0 0;
}

.nav-bar ul {
    display: flex;
    gap: 42px;
    justify-content: center;
}

/* Offer Section */
.offer {
    background-color: white;
    padding: 20px;
    text-align: center;
}

.offer p {
    margin: 0;
    padding: 5px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.offer p span {
    color: blue;
}

/* Product heading */
.product-head{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

.product-head p {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #817e7e;
}

.product-head p span {
    color: black;
}

.product-help .profile-img {
    border-radius: 10%;
}

.product-help img {
    padding-left: 75%;
}

.product-help ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    gap: 20px;
}

.product-help li {
    color: black;
    font-size: 15px;
}
.product-help li span {
    color: rgb(23, 23, 235);
}

/* Products */
.product-flex {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    padding-top: 40px;
}

.product-flex div p {
    text-align: center;
    font-family: SF-Pro-Text, SF-Pro-Icons, Helvetica-Neue, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
}

/* Latest news head */
.latest-news-head {
    font-size: 45px;
}

.latest-news-head p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #817e7e;
    margin-top: 78px;
    margin-left: 70px;
}

.latest-news-head p span {
    color: black;
}

/* Latest products desc */
.latest-products{
    display: flex;
    gap: 20px;
}

.list-img img {
    border-radius: 25px;
    box-shadow: 2px 10px 5px rgb(221, 221, 221);
}

.list-img{
    width: 60%;
    position: relative;
    left: 80px;
}
.list-content-desc {
    position: absolute;
    top: 10px;
    left: 25px;
}

.list-content-header {
    font-size: 28px;
    font-family: Helvetica;
    font-weight: bolder;
}

.list-desc-ai {
    font-size: 17px;
    font-family: Helvetica;
    font-weight: 600;
    background-image: linear-gradient(108deg, #006bb9 0, #903fcf 32%, #cf0f3c 84%, #b84100 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.list-desc-price {
    font-size: 14px;
    font-family: helvetica;
}

#iphone-16-pro {
    color: white;
}
#iphone-16-pro-price{
    color: white;
}